In [3]:
import ibm_db

In [2]:
!pip install ibm_db

Collecting ibm_db
  Downloading ibm_db-3.0.1.tar.gz (642 kB)
     |████████████████████████████████| 642 kB 618 kB/s eta 0:00:01
Building wheels for collected packages: ibm-db
  Building wheel for ibm-db (setup.py) ... done
  Created wheel for ibm-db: filename=ibm_db-3.0.1-cp37-cp37m-linux_x86_64.whl size=36093870 sha256=02710a6f8381ee3378245b43b838a78f65ff19496faf7365463a297657e83b77
  Stored in directory: /home/siddharth/.cache/pip/wheels/2b/f6/1a/21d3ce81137c355c51561cb2cb72120cc1b4431a9f27484bef
Successfully built ibm-db
Installing collected packages: ibm-db
Successfully installed ibm-db-3.0.1

In [4]:
ibm_db.connect("DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=fbd95373;PWD=qggq0^g04gjq82bs;PORT=60000;PROTOCOL=TCPIP;UID=fbd95373;
                PWD=qggq0^g04gjq82bs;", "", "")

SyntaxError: EOL while scanning string literal (<ipython-input-4-ee367c1d1759>, line 1)

In [9]:
import ibm_db
conn=ibm_db.connect("DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=fbd95373;PWD=qggq0^g04gjq82bs",'','')
connState = ibm_db.active(conn)
print(connState)

True

In [11]:
stmt=  ibm_db.exec_immediate(conn,"CREATE table Trucks(serial_no varchar(20) Primary key NOT NULL,Model varchar(20) NOT NULL,manufacturer varchar(20) NOT NULL)")

In [15]:
stmt = ibm_db.exec_immediate(conn,"Insert into Trucks values('A1234','Figo','Ford')")

Exception: [IBM][CLI Driver][DB2/LINUXX8664] SQL0803N  One or more values in the INSERT statement, UPDATE statement, or foreign key update caused by a DELETE statement are not valid because the primary key, unique constraint or unique index identified by "1" constrains table "FBD95373.TRUCKS" from having duplicate values for the index key.  SQLSTATE=23505 SQLCODE=-803

In [16]:
stmt = ibm_db.exec_immediate(conn,"Select * from Trucks")

In [17]:
ibm_db.fetch_both(stmt)

{'SERIAL_NO': 'A1234',
 0: 'A1234',
 'MODEL': 'Figo',
 1: 'Figo',
 'MANUFACTURER': 'Ford',
 2: 'Ford'}

In [24]:
import pandas as pd
import ibm_db_dbi
pconn = ibm_db_dbi.Connection(conn)
df = pd.read_sql("Select* from Trucks",pconn)
df

  SERIAL_NO MODEL MANUFACTURER
0     A1234  Figo         Ford

ERROR: Could not find a version that satisfies the requirement ibm_db_dbi (from versions: none)
ERROR: No matching distribution found for ibm_db_dbi